<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yee.mapper.BaseAttrInfoMapper">
    <!--自定义的返回结果集-->
    <resultMap id="baseAttrInfoMap" type="com.yee.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id property="id" column="id"></id>
        <!--自动的映射: 根据平台属性的id,将值进行保存-->
        <collection property="attrValueList" ofType="com.yee.gmall.model.product.BaseAttrValue" autoMapping="true">
            <id property="id" column="base_attr_value_id"></id>
        </collection>
    </resultMap>
    <!--根据分类的id(一级二级三级)查询平台属性的信息-->
    <select id="selectBaseAttrInfoByCategoryId" resultMap="baseAttrInfoMap">
        SELECT
        t1.id,
        t1.attr_name,
        t1.category_id,
        t1.category_level,
        t2.id as base_attr_value_id,
        t2.value_name,
        t2.attr_id
        FROM
        base_attr_info t1
        INNER JOIN
        base_attr_value t2 on t1.id = t2.attr_id
        <where>
            <if test="category1Id != null and category1Id != 0">
                OR (t1.category_id = #{category1Id} AND t1.category_level = 1)
            </if>
            <if test="category2Id != null and category2Id != 0">
                OR (t1.category_id = #{category2Id} AND t1.category_level = 2)
            </if>
            <if test="category3Id != null and category3Id != 0">
                OR (t1.category_id = #{category3Id} AND t1.category_level = 3)
            </if>
        </where>
    </select>

    <select id="selectBaseAttrInfoBySkuId" resultMap="baseAttrInfoMap">
        SELECT
            t1.id,
            t1.attr_name,
            t1.category_id,
            t1.category_level,
            t2.id as base_attr_value_id,
            t2.value_name,
            t2.attr_id
        FROM
            base_attr_info t1
            INNER JOIN base_attr_value t2 ON t1.id = t2.attr_id
            INNER JOIN sku_attr_value t3 ON t1.id = t3.attr_id
            AND t2.id = t3.value_id
        WHERE
            t3.sku_id = #{skuId}
    </select>
</mapper>